html, body {
    height: 100%;
    background-color: #ffffff;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}


/* INPUT AREA BOTTOM OF SCREEN */

div {
    /* color: rgb(255, 187, 187); */
    padding: 0%;
    /* border:1px solid rgb(133, 133, 133); */
    padding-bottom: 2%;
}
.resultsboxes {
    background-color:#ffffff;
    display:flex;
    text-align: center;
    /* border-color: blue; */
}


button.resultbox {
    border: none;
    /* padding: 5px 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    aspect-ratio: 1 / 1;
    /* margin: 4px 2px; */
    cursor:crosshair;
    flex: 1 1 0;
    /* border:1px solid rgb(133, 133, 133); */
}
    button.resultbox.pass {
        color: #666666;
        background-color: #ededed;
    }
    button.resultbox.failure {
    background-color: #f74040;
    color: #f7f7f7;
    }



/* OUTPUT AREA TOP OF SCREEN */

::-webkit-scrollbar {       /* HIDE SCROLLBAR */
    display: none;
}

div.outputboxes {
    overflow-y: scroll;    
    height: 25vh;
    padding-bottom: 3vh;
}
div.actionButtons {
    display: inline-table;
    margin:0 auto;
    vertical-align:middle;

}

button.newestKanji {    
    margin:0 auto;
    display:block;
    border: none;
    font-size: 30px;
    color: #666666;
    background-color: #ededed;
    
    /* padding: 5px 5px; */
    text-align: center;
    text-decoration: none;
    aspect-ratio: 1 / 1;

}

button.kanjiList {
    margin:0 auto;
    display:block;
    border: none;
    font-size: 17px;
    color: #666666;
    background-color: #ededed;
    text-align: center;
    aspect-ratio: 1 / 1;
    
    border:1px solid rgb(255, 255, 255);

}

button.commaButton {
    margin:0 auto;
    display:table;
    border: none;
    font-size: 18px;
    color: #AAFFAA;
    background-color: #00AA00;
    text-align: center;
    aspect-ratio: 1 / 1;
    max-height:fit-content;  /* keeps button to square when using flex*/
    border:1px solid rgb(255, 255, 255);
    
}
